.login_container{
    height: 100%;
    width: 100%;
    display: flex;
}

.login_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 5%;
    
}

.login_title {
    margin-bottom: 20px;
}